[run]
parallel = True
omit =
    */cdl/utils/tests.py
    */cdl/tests/*
    */guidata/*
    */guiqwt/*

    #--- Workaround for certain builds of python-opencv package:
    ./config-3.py
    ./config.py
    #---