[run]

#--- Ignore this warning because the process isolation feature of DataLab
#--- causes coverage to report 0% coverage when no computation is performed
#--- in the isolated process during the session.
disable_warnings = no-data-collected

parallel = True
concurrency = multiprocessing,thread

omit =
    */cdlapp/utils/tests.py
    */cdlapp/tests/*
    */guidata/*
    */plotpy/*

    #--- Workaround for certain builds of python-opencv package:
    ./config-3.py
    ./config.py
    #---