[Desktop Entry]
Version=1.0
Type=Application
Name=cdlapp
GenericName=DataLab
Comment=Run DataLab, the Python Signal and image processing software
TryExec=cdlapp
Exec=cdlapp
Icon=DataLab.svg
Categories=Education;Science;Physics;
