[Desktop Entry]
Version=1.0
Type=Application
Name=datalab
GenericName=DataLab
Comment=Run DataLab, the Python Signal and image processing software
TryExec=datalab
Exec=datalab
Icon=DataLab.svg
Categories=Education;Science;Physics;
