[Desktop Entry]
Version=1.0
Type=Application
Name=cdl
GenericName=DataLab
Comment=Run DataLab, the Python Signal and image processing software
TryExec=cdl
Exec=cdl
Icon=DataLab.svg
Categories=Education;Science;Physics;
