recursive-include cdl *.png *.svg *.pot *.po *.mo *.dcm *.ico *.h5 *.chm *.txt *.sig *.csv *.json *.npy *.fxd *.scor-data
recursive-include doc *.py *.rst *.png *.pot *.po
recursive-include nsis *.nsi *.nsh *.bmp *.ico
include MANIFEST.in
include Licence*.*
include *.md
