Coverage
PlotPy >= 2.7.5
PyQt5
PyWavelets >= 1.1
SciPy >= 1.5
guidata >= 3.9
myst_parser
opencv-python-headless >= 4.5
packaging >= 20.0
pandas >= 1.2
psutil >= 5.7
pydata-sphinx-theme
pyinstaller>=6.0
pylint
pytest
pytest-xvfb
ruff
scikit-image >= 0.18
sphinx
sphinx-copybutton
sphinx-sitemap
sphinx_design
sphinx_intl
