Coverage
NumPy >= 1.22, < 2.5
PlotPy >= 2.8.2
PyQt5 >= 5.15.6
PyWavelets >= 1.2, < 2.0
SciPy >= 1.10.1, < 1.17
Sigima >= 1.1.0
babel
build
fastapi >= 0.110.0
guidata >= 3.13.4
httpx
myst_parser
opencv-python-headless >= 4.8.1.78
packaging >= 21.3
pandas >= 1.4, < 3.0
pre-commit
psutil >= 5.8
pydantic >= 2.0
pydata-sphinx-theme
pyinstaller == 6.16.0
pylint
pytest
pytest-xvfb
ruff
scikit-image >= 0.19.2, < 0.27
sphinx
sphinx-copybutton
sphinx-sitemap
sphinx_design
sphinx_intl
uvicorn[standard] >= 0.27.0
