<!-- Copyright (c) DataLab Platform Developers, BSD 3-Clause license, see LICENSE file. -->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
    xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
    <Package Name="DataLab" ProductCode="{product_code}" Language="1033" Version="{version}" Codepage="1252" Manufacturer="DataLab Platform Developers" UpgradeCode="e7a3f5c1-9d84-4b2a-a6f1-2c5d8e9b7a31" InstallerVersion="200" Scope="perUserOrMachine">
        <MajorUpgrade DowngradeErrorMessage="A newer or same version of [ProductName] is already installed. Please uninstall the existing version before installing this one." />
        <Icon Id="DataLabIcon" SourceFile=".\resources\DataLab.ico" />
        <Icon Id="DataLabResetIcon" SourceFile=".\resources\DataLab-Reset.ico" />
        <WixVariable Id="WixUILicenseRtf" Value=".\wix\license.rtf" />
        <WixVariable Id="WixUIDialogBmp" Value=".\wix\dialog.bmp" />
        <WixVariable Id="WixUIBannerBmp" Value=".\wix\banner.bmp" />
        <MediaTemplate EmbedCab="yes" />
        <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER"/>
        <Feature Id="ProductFeature" Title="DataLab" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>
    </Package>
    <Fragment>
        <Property Id="NSIS_UNINSTALL_STRING">
            <!-- Detect DataLab installation using the old NSIS installer -->
            <RegistrySearch Id="PreviousDataLabSearch"
                            Root="HKCU"
                            Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\DataLab"
                            Name="QuietUninstallString"
                            Type="raw" />
        </Property>
        <CustomAction Id="PreviousVersionFoundMsg" Error="A previous version of DataLab was detected. Please uninstall it before proceeding with this installation." Execute="immediate" />
        <InstallUISequence>
            <Custom Action="PreviousVersionFoundMsg" After="CostInitialize" Condition="NSIS_UNINSTALL_STRING" />
        </InstallUISequence>
        <StandardDirectory Id="ProgramFilesFolder">
            <Directory Id="INSTALLFOLDER" Name="{install_folder_name}">
                <!-- Automatically inserted directories -->
            </Directory>
        </StandardDirectory>
        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="ApplicationProgramsFolder" Name="{display_folder_name}" />
        </StandardDirectory>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponents">
            <Component Id="PC_Files" Directory="INSTALLFOLDER" Guid="a1b2c3d4-e5f6-4789-a012-3456789abcde">
                <File Source=".\dist\DataLab\DataLab.exe" KeyPath="yes" />
                <File Source=".\dist\DataLab\manifest.json" />
            </Component>
            <!-- Automatically inserted components -->
            <!-- Shortcut components: one component per shortcut with registry KeyPath -->
            <Component Id="PC_Shortcut_Main" Directory="ApplicationProgramsFolder" Guid="*">
                <Shortcut Id="ApplicationStartMenuShortcut" Name="{display_folder_name}" Description="{display_folder_name}" Target="[INSTALLFOLDER]\DataLab.exe" WorkingDirectory="INSTALLFOLDER" Icon="DataLabIcon" />
                <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\{install_folder_name}" Name="shortcut_main" Type="integer" Value="1" KeyPath="yes" />
                <RemoveFolder Id="RemoveApplicationProgramsFolder1" Directory="ApplicationProgramsFolder" On="uninstall" />
            </Component>
            <Component Id="PC_Shortcut_Reset" Directory="ApplicationProgramsFolder" Guid="*">
                <Shortcut Id="ResetApplicationStartMenuShortcut" Name="Reset {display_folder_name}" Description="Resets {display_folder_name} configuration" Target="[INSTALLFOLDER]\DataLab.exe" Arguments="--reset" WorkingDirectory="INSTALLFOLDER" Icon="DataLabResetIcon" />
                <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\{install_folder_name}" Name="shortcut_reset" Type="integer" Value="1" KeyPath="yes" />
                <RemoveFolder Id="RemoveApplicationProgramsFolder2" Directory="ApplicationProgramsFolder" On="uninstall" />
            </Component>
            <Component Id="PC_Shortcut_Uninstall" Directory="ApplicationProgramsFolder" Guid="*">
                <Shortcut Id="UninstallProductShortcut" Name="Uninstall {display_folder_name}" Description="Uninstalls {display_folder_name}" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" WorkingDirectory="INSTALLFOLDER" Icon="DataLabIcon" />
                <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\{install_folder_name}" Name="shortcut_uninstall" Type="integer" Value="1" KeyPath="yes" />
                <RemoveFolder Id="RemoveApplicationProgramsFolder3" Directory="ApplicationProgramsFolder" On="uninstall" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>