<!-- Copyright (c) DataLab Platform Developers, BSD 3-Clause license, see LICENSE file. -->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
    xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
    <Package Name="DataLab" ProductCode="b9f2e8d4-7c3a-4f1b-9e6d-5a8c2f1b4e9a" Language="1033" Version="{version}" Codepage="1252" Manufacturer="DataLab Platform Developers" UpgradeCode="e7a3f5c1-9d84-4b2a-a6f1-2c5d8e9b7a31" InstallerVersion="200" Scope="perUserOrMachine">
        <Upgrade Id="e7a3f5c1-9d84-4b2a-a6f1-2c5d8e9b7a31">
            <UpgradeVersion Minimum="1.0.0" Maximum="{version}" IncludeMinimum="yes" IncludeMaximum="no" OnlyDetect="no" Property="PREVIOUSVERSIONSINSTALLED" />
            <UpgradeVersion Minimum="{version}" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
        </Upgrade>
        <CustomAction Id="PreventDowngrade" Error="A newer version of [ProductName] is already installed." />
        <InstallExecuteSequence>
            <Custom Action="PreventDowngrade" After="FindRelatedProducts" Condition="NEWERVERSIONDETECTED" />
            <RemoveExistingProducts After="InstallInitialize" />
        </InstallExecuteSequence>
        <Icon Id="DataLab.exe" SourceFile=".\resources\DataLab.ico" />
        <Icon Id="DataLabResetIcon" SourceFile=".\resources\DataLab-Reset.ico" />
        <WixVariable Id="WixUILicenseRtf" Value=".\wix\license.rtf" />
        <WixVariable Id="WixUIDialogBmp" Value=".\wix\dialog.bmp" />
        <WixVariable Id="WixUIBannerBmp" Value=".\wix\banner.bmp" />
        <MediaTemplate EmbedCab="yes" />
        <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER"/>
        <Feature Id="ProductFeature" Title="DataLab" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>
    </Package>
    <Fragment>
        <Property Id="NSIS_UNINSTALL_STRING">
            <!-- Detect DataLab installation using the old NSIS installer -->
            <RegistrySearch Id="PreviousDataLabSearch"
                            Root="HKCU"
                            Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\DataLab"
                            Name="QuietUninstallString"
                            Type="raw" />
        </Property>
        <CustomAction Id="PreviousVersionFoundMsg" Error="A previous version of DataLab was detected. Please uninstall it before proceeding with this installation." Execute="immediate" />
        <InstallUISequence>
            <Custom Action="PreviousVersionFoundMsg" After="CostInitialize" Condition="NSIS_UNINSTALL_STRING" />
        </InstallUISequence>
        <StandardDirectory Id="ProgramFilesFolder">
            <Directory Id="INSTALLFOLDER" Name="{install_folder_name}">
                <!-- Automatically inserted directories -->
            </Directory>
        </StandardDirectory>
        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="ApplicationProgramsFolder" Name="{display_folder_name}" />
        </StandardDirectory>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponents">
            <Component Id="PC_Files" Directory="INSTALLFOLDER">
                <File Source=".\dist\DataLab\DataLab.exe" KeyPath="yes" />
            </Component>
            <!-- Automatically inserted components -->
            <Component Id="PC_Shortcuts" Directory="ApplicationProgramsFolder" Guid="858c3c36-978e-4edb-a2c3-cf5c91588bcf">
                <Shortcut Id="ApplicationStartMenuShortcut" Name="{display_folder_name}" Description="{display_folder_name}" Target="[INSTALLFOLDER]\DataLab.exe" WorkingDirectory="INSTALLFOLDER" />
                <Shortcut Id="ResetApplicationStartMenuShortcut" Name="Reset {display_folder_name}" Description="Resets {display_folder_name} configuration" Target="[INSTALLFOLDER]\DataLab.exe" Arguments="--reset" WorkingDirectory="INSTALLFOLDER" Icon="DataLabResetIcon" />
                <Shortcut Id="UninstallProductShortcut" Name="Uninstall {display_folder_name}" Description="Uninstalls {display_folder_name}" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" WorkingDirectory="INSTALLFOLDER" />
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\{install_folder_name}" Name="installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>