[Desktop Entry]
Version=1.0
Type=Application
Name=DataLab (dark theme)
Exec=bash -c 'export QT_COLOR_MODE=dark; datalab'
Icon=/home/jovyan/DataLab.svg
Path=/home/jovyan/Desktop/test_data
