[Desktop Entry]
Version=1.0
Type=Application
Name=DataLab
Exec=bash -c 'pip install --force-reinstall --no-deps git+https://github.com/Codra-Ingenierie-Informatique/DataLab.git'
Icon=system-software-update
Path=
Terminal=true
